<!--accepts list of product list from Home.Controller line 55 -->
@model IEnumerable<TheEverythingStore.Models.Product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Products";
}

<h2>@ViewBag.Title.</h2>

<ul>
   @foreach (var p in Model)

    {
       <!--create a link to a method in Home controller, pass new variable called 
           product name as a parameter-->
        <li>@Html.ActionLink(p.Name,"ViewProduct", "Home", 
            new {ProductName = p.Name}, null)</li>
    }
</ul>
